<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Orbitron:wght@600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../assets/styles/reset.css" />
    <link rel="stylesheet" href="../../components/AuthedHeader/authedHeader.css" />
    <title>AuthedHeader</title>
</head>

<body class="body">
    <header class="authed-header">
        <h2 class="authed-header__logo">Light</h2>
        <div class="authed-header__nav">
            <nav>
                <ul class="authed-header__nav-panel">
                    <li class="nav-panel__item nav-panel__item--active">
                        <a href="#"></a>Home
                    </li>
                    <li class="nav-panel__item">
                        <a href="#"></a>Company
                    </li>
                    <li class="nav-panel__item">
                        <a href="#"></a>Features
                    </li>
                </ul>
            </nav>
            <button class="authed-header__avatar">
                <img src="../../assets/images/AuthedHeader/avatar.png" alt="avatar">
            </button>
        </div>
    </header>
</body>

</html>