<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../../assets/styles/reset.css" />
  <link rel="stylesheet" href="../../components/Company/company.css" />
  <title>Company</title>
</head>

<body>
  <section class="company">
    <div class="company__item">
      <div class="company__content">
        <h2 class="company__content-title">Our company values culture <span><img class="company__content-icon" src="../../assets/icons/Company/hard.svg" alt="hard"/></span></h2>
        <p class="company__content-description">
          We specialize in creating visual identities for products and branda in
          your company.
        </p>
      </div>
      <div class="company__advantage">
        <ul class="company__advantage-item">
          <li class="advantage-item__name">
            <img class="advantage-item__name-img" src="../../assets/icons/Company/BeSincere.svg" alt="Be Sincere" />
            <p class="advantage-item__name-title">Be Sincere</p>
          </li>
          <li class="advantage-item__name">
            <img class="advantage-item__name-img" src="../../assets/icons/Company/Keep.svg" alt="Keep it simplee" />
            <p class="advantage-item__name-title">Keep it simple</p>
          </li>
          <li class="advantage-item__name">
            <img class="advantage-item__name-img" src="../../assets/icons/Company/stronder.svg" alt="Stronger together" />
            <p class="advantage-item__name-title">Stronger together</p>
          </li>
          <li class="advantage-item__name">
            <img class="advantage-item__name-img" src="../../assets/icons/Company/take.svg" alt="Take intelligent risks" />
            <p class="advantage-item__name-title">Take intelligent risks</p>
          </li>
        </ul>
      </div>
    </div>
    <img class="company__ellipse" src="../../assets/icons/Company/ellipse-19.svg" alt="ellipse 19">
  </section>
</body>

</html>