<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../../assets/styles/reset.css" />
  <link rel="stylesheet" href="../../components/Headsets/headsets.css" />
  <title>Headsets</title>
</head>

<body>
  <section class="headsets">
    <div class="headsets__header">
      <h3 class="headsets__header-title"> Mixed Reality Headsets</h3>
      <select class="headsets__header-sort" name="sort">
        <option value="New first">New first &nbsp; &nbsp; &nbsp; &#9662;</option>
        <option value="New last">New last </option>
      </select>
    </div>
    <ul class="headsets__item">
      <li class="headsets__item-set">
        <img src="../../assets/images/List/photo.png" class="item-set__photo" alt="photo" />
        <div class="item-set__dscr">
          <h5 class="item-set__dscr-name">Metaverse</h5>
          <p class="item-set__dscr-text">
            A Network of 3D virtual worlds focused on social connection.
          </p>
        </div>
      </li>
      <li class="headsets__item-set">
        <img src="../../assets/images/List/photo.png" class="item-set__photo" alt="photo" />
        <div class="item-set__dscr">
          <h5 class="item-set__dscr-name">Metaverse</h5>
          <p class="item-set__dscr-text">
            A Network of 3D virtual worlds focused on social connection.
          </p>
        </div>
      </li>
      <li class="headsets__item-set">
        <img src="../../assets/images/List/photo.png" class="item-set__photo" alt="photo" />
        <div class="item-set__dscr">
          <h5 class="item-set__dscr-name">Metaverse</h5>
          <p class="item-set__dscr-text">
            A Network of 3D virtual worlds focused on social connection.
          </p>
        </div>
      </li>
      <li class="headsets__item-set">
        <img src="../../assets/images/List/photo.png" class="item-set__photo" alt="photo" />
        <div class="item-set__dscr">
          <h5 class="item-set__dscr-name">Metaverse</h5>
          <p class="item-set__dscr-text">
            A Network of 3D virtual worlds focused on social connection.
          </p>
        </div>
      </li>
      <li class="headsets__item-set">
        <img src="../../assets/images/List/photo.png" class="item-set__photo" alt="photo" />
        <div class="item-set__dscr">
          <h5 class="item-set__dscr-name">Metaverse</h5>
          <p class="item-set__dscr-text">
            A Network of 3D virtual worlds focused on social connection.
          </p>
        </div>
      </li>
      <li class="headsets__item-set">
        <img src="../../assets/images/List/photo.png" class="item-set__photo" alt="photo" />
        <div class="item-set__dscr">
          <h5 class="item-set__dscr-name">Metaverse</h5>
          <p class="item-set__dscr-text">
            A Network of 3D virtual worlds focused on social connection.
          </p>
        </div>
      </li>
    </ul>
    <img src="../../assets/icons/Headsets/Ellipse-center.svg" class="headsets__ellipce" alt="Ellipse-center">
    <ul class="headsets__pagination">
      <li class="headsets__pagination-num">
        <img src="../../assets/images/List/previous.png" alt="previous photo" />
      </li>
      <li class="headsets__pagination-num headsets__pagination-num--active">1</li>
      <li class="headsets__pagination-num">2</li>
      <li class="headsets__pagination-num">...</li>
      <li class="headsets__pagination-num">9</li>
      <li class="headsets__pagination-num">10</li>
      <li class="headsets__pagination-num">
        <img src="../../assets/images/List/next.png" alt="next photo" />
      </li>
    </ul>

  </section>
</body>

</html>