<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../../assets/styles/reset.css" />
  <link rel="stylesheet" href="../../components/Hero/hero.css" />
  <title>Hero</title>
</head>

<body>
  <section class="hero">
    <div class="hero__item">
      <h1 class="hero__item-title">Let’s Explore Three-Dimensional visual</h1>
      <p class="hero__item-describe">
        With virtual technology you can see the digital world feel more real
        and you can play the game with a new style.
      </p>
      <div class="hero__btns">
        <button class="hero__btns-info hero__btns-info--active">Get it Now</button>
        <button class="hero__btns-info">Explore Device</button>
      </div>
      <div class="hero__people">
        <ul class="hero__people-list">
          <li class="hero__people-list--orange">
            <img src="../../assets/images/Hero/Ellipse1.png" alt="photo woman in orange" />
          </li>
          <li class="hero__people-list--black">
            <img src="../../assets/images/Hero/Ellipse2.png" alt="photo woman in black" />
          </li>
          <li class="hero__people-list--yellow">
            <img src="../../assets/images/Hero/Ellipse3.png" alt="photo woman in yellow"  />
          </li>
          <li class="hero__people-list--white">
            <img src="../../assets/images/Hero/Ellipse4.png" alt="photo man in white" />
          </li>
        </ul>
        <div class="people-online">
          <img src="../../assets/icons/Hero/dot.svg" class="people-online__icon" alt="dot" />
          <p>400k people online</p>
        </div>
      </div>
    </div>
    <div class="hero__vr">
      <img src="../../assets/images/Hero/hero.png" class="hero__vr-photo" alt="hero" />
      <div class="hero-vr__text">
        <h2 class="hero-vr__text-title">Cinematic Virtual Reality</h2>
        <hr class="hero-vr__text-line">
        <p class="hero-vr__text-descr">
          Let’s be the best for more real and effective results and ready to
          explore the limitless world that we have prepared for you.
        </p>
      </div>
    </div>
    <img src="../../assets/icons/Experience/Ellipse6.png" class="hero__ellipse-left" alt="ellipse left">
    <img src="../../assets/icons/Experience/Ellipse7.svg" class="hero__ellipse-right" alt="ellipse right">
  </section>
</body>

</html>