<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../../assets/styles/reset.css" />
  <link rel="stylesheet" href="../../components/Header/header.css" />
  <title>Header</title>
</head>

<body class="body">
  <header class="header">
    <img src="../../assets/icons/Header/ellipse-header.svg" class="header__icon" alt="ellipse header" />
    <h2 class="header__logo">Light</h2>
    <div class="header__nav">
    <nav>
      <ul class="header__nav-list">
        <li class="nav-list__item nav-list__item--active">
          <a href="#"></a>Home
        </li>
        <li class="nav-list__item"><a href="#"></a>Company
        </li>
        <li class="nav-list__item"><a href="#"></a>Features
        </li>
      </ul>
    </nav>
      <button class="header__btn header__btn--active">Sing in</button>
    </div>
  </header>
</body>

</html>