<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../assets/styles/reset.css" />
  <link rel="stylesheet" href="../../components/Video/video.css" />
  <title>Video</title>
</head>
<body>
  <section class="video">
    <h3 class="video__title">Awesome experiences with
    virtual reality world</h3>
    <div class="video__img">
    <img src="../../assets/images/Video/video.png" alt="video">
    </div>
  </section>
  
</body>
</html>