<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../../assets/styles/reset.css" />
  <link rel="stylesheet" href="../../components/Footer/footer.css" />
  <title>Footer</title>
</head>

<body>
  <footer class="footer">
    <div class="footer__content">
      <div class="footer__item">
        <h3 class="footer__item-title">Explore product in new way <span><img class="footer__item-icon"src="../../assets/icons/Explolre/vector.svg" alt="vector" /></span></h3>
        <p class="footer__item-description">
          We specialize in creating visual identities for products and branda in
          your company.
        </p>
        <form class="footer__form">
          <input class="footer__form-input" placeholder="Your Email" type="email" />
          <button class="footer__form-btn">
            Start
            <img src="../../assets/icons/Explolre/arrow.svg" alt="arrow" />
          </button>
        </form>
      </div>
      <div class="footer__img">
        <img src="../../assets/images/Explore/hands.png" alt="hands" />
      </div>
    </div>
  </footer>
</body>

</html>