<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../../assets/styles/reset.css" />
  <link rel="stylesheet" href="../../components/Experience/experience.css" />
  <title>Experience</title>
</head>

<body>
  <section class="experience">
    <div class="experience-photo">
      <img src="../../assets/images/Content/woman.png" class="experience-photo__women" alt="woman" />
      <img src="../../assets/images/Content/man.png" class="experience-photo__men" alt="man" />
    </div>
    <div class="experience-content">
      <h2 class="experience-content__title">New Experience In Playing Game</h2>
      <p class="experience-content__describe">
        You can try playing the game with a new style and of course a more
        real feel, like you are the main character in your game and
        adventure in this new digital world.
      </p>
      <button class="experience-btn">Get it Now</button>
    </div>
  </section>
</body>
</html>