
@media (max-width: 820px) {

    .body {
        max-width: 884px;
    }

    .hero__item-title {
        font-size: 30px;
        line-height: 36px;
    }

    .vr-text__title {
        font-size: 18px;
    }

    .experience {
        padding: 0 58px 30px 58px;
        flex-direction: column;
    }

    .experience-content {
        margin-top: 24px;
        margin-bottom: 24px;
        max-width: 90%;
        max-height: 100%;
        text-align: center;
    }

    .experience-photo,
    .experience-btn {
        justify-content: center;
        align-self: center;
        gap: 50px;
    }

    .experience-content__title {
        align-self: center;
    }

    .experience-btn {
        padding: 11px 76px;
    }

    .headsets__set-photo {
        min-width: 290px;
        min-height: 261px;
    }
}


@media (max-width: 680px) {
    .header {
        padding: 16px 16px 19px 16px;
        align-items: flex-start;
    }

    .header__menu,
    .header__btn,
    .nav-list__item:after,
    .headsets__set--none {
        display: none;
    }

    .header__burger {
        position: absolute;
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start;
        right: 16px;
        top: 16px;
        border-radius: 10px;
        z-index: 2;
    }

    .burger__user-menu {
        display: none;
        flex-direction: column;
        align-items: flex-end;
        border-radius: 10px;
        cursor: pointer;
    }

    .burger__nav-list {
        position: absolute;
        display: none;
        margin-top: 20px;
        right: 0;
        top: 20px;
        display: flex;
        flex-direction: column;
        text-align: end;
        gap: 10px;
        color: #fff;
        background-color: #010208;
        cursor: pointer;
    }

    .burger__btn {
        margin-top: 6px;
        padding: 5px 13px;
        align-items: center;
        font-family: 'Inter', sans-serif;
        background: linear-gradient(99.05deg, #791c8e 0.07%, #ab206a 106.32%);
        border-radius: 2px;
        border-color: #C54B8C;
        cursor: pointer;
        font-weight: 700;
        font-size: 12px;
        color: #FFF;
    }

    .burger__icon {
        margin-top: 7px;
        margin-left: 20px;
        min-width: 16px;
        min-height: 18px;
        cursor: pointer;
    }

    .burger__menu-icon {
        display: flex;
        justify-content: flex-end;
    }

    .burger__menu-list {
        display: none;
        background-color: #010208;
        border-radius: 6px;
    }

    .burger__user-menu-select {
        position: relative;
        display: flex;
        max-width: 304px;
        width: 100%;
        text-align: center;
        flex-direction: column;
        justify-content: flex-start;
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        font-size: 14px;
        color: #F2F2F2;
        background-color: #2d0341;
        border-radius: 4px;
        gap: 1px;
        cursor: pointer;
    }

    .menu-select {
        padding: 5px;
    }

    .hero {
        flex-direction: column-reverse;
        padding: 0 16px 24px 16px;
    }

    .hero__item {
        text-align: center;
    }

    .vr-text__title {
        margin-bottom: 17px;
        font-size: 16px;
    }

    .vr-text__line {
        background-color: #FFF;
        width: 129px;
        height: 1px;
    }

    .vr-text__descr {
        margin-top: 22px;
        max-width: 161px;
        font-size: 9px;
    }

    .hero__vr-text {
        bottom: 10%;
    }

    .hero__item-title,
    .experience-content__title {
        margin-bottom: 8px;
    }

    .hero__item-title {
        margin-top: 11px;
        max-width: 100%;
        font-size: 24px;
        line-height: 33px;
    }

    .hero__people {
        margin-top: 24px;
    }

    .hero__btns,
    .hero__people {
        justify-content: center;
        align-self: center;
    }

    .hero__btns-info--active {
        padding: 11px 45px;
    }

    .hero__btns-info--pink {
        padding: 11px 40px;
        color: #B936F5;
        border-radius: 3px;
        border: 1px solid #B936F5;
    }

    .hero__btns-info--pink:hover {
        color: #fff;
    }

    .hero__item-describe {
        max-width: 100%;
    }

    .experience {
        padding: 0 16px 15px 16px;
        flex-direction: column;
    }

    .experience-photo {
        gap: 16px;
    }

    .experience-photo__women,
    .experience-photo__men {
        max-width: 170px;
    }

    .experience-content {
        max-width: 100%;
        margin-top: 16px;
    }

    .experience-content__title {
        max-width: 360px;
        font-size: 19px;
    }

    .experience-content__describe {
        margin-bottom: 24px;
        max-width: 360px;
    }

    .video {
        padding: 24px 4px 40px 4px;
    }

    .video__content {
        padding: 8px 27px 9px 10px;
    }

    .video__content-img {
        max-width: 92px;
    }

    .video__content-title,
    .headsets__header-title {
        font-size: 14px;
        line-height: 18px;
    }

    .headsets {
        padding: 0 16px 40px 16px;
    }

    .headsets__header {
        margin-bottom: 26px;
    }

    .headsets__header-sort {
        padding: 8px 3px;
    }

    .generated__cards {
        justify-content: center;
        row-gap: 25px;
    }

    .headsets__set-photo {
        min-width: 357px;
        min-height: 278px;
    }

    .headsets__item {
        flex-direction: column;
        align-items: center;
        gap: 24px;
    }

    .headsets__set-dscr {
        padding: 10px 12px;
        max-width: 165px;
        max-height: 85px;
    }

    .headsets__set-name {
        font-size: 14px;
    }

    .headsets__set-text {
        font-size: 10px;
        line-height: 12px;
    }

    .headsets__pagination {
        margin-top: 32px;
    }

    .clients {
        padding: 0 16px;
    }

    .generated__clients-cards li:nth-child(2),
    .generated__clients-cards li:nth-child(3) {
        display: none;
    }

    .clients__title {
        margin-bottom: 8px;
    }

    .clients__text {
        margin-bottom: 20px;
    }

    .clients__coments {
        padding-top: 25px;
        padding-bottom: 20px;
    }

    .item-fb__card {
        padding: 16px;
        max-width: 240px;
        min-height: 140px;
    }

    .card-logo {
        margin-bottom: 15px;
    }

    .card-text {
        margin-bottom: 30px;
    }

    .generated__clients-cards:nth-child(2) {
        display: none;
    }

    .generated__clients-cards:nth-child(3) {
        display: none;
    }

    .clients__arow {
        display: flex;
    }

    .arow__left,
    .arow__right {
        position: absolute;
        max-width: 10px;
        top: 62%;
    }

    .arow__left {
        left: 30px;
    }

    .arow__right {
        right: 30px;
    }

    .company {
        padding: 44px 16px 40px 16px;
    }

    .company__item {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .company__content-title {
        max-width: 100%;
        margin-bottom: 16px;
    }

    .company__content-description {
        max-width: 316px;
        font-size: 15px;
        line-height: 18px;
    }

    .company__advantage {
        max-width: 210px;
    }

    .advantage-item__name-img {
        min-width: 50px;
    }

    .company__content {
        max-width: 360px;
        margin-bottom: 18px;
    }

    .company__advantage-item {
        align-items: flex-end;
        justify-content: space-between;
        row-gap: 21px;
        column-gap: 37px;
    }

    .advantage-item__name-title {
        font-size: 10px;
        line-height: 12px;
    }

    .footer {
        margin: 0 16px;
        padding: 7px 0 24px 0;
        background: linear-gradient(180deg, #AA14F0 -42.59%, rgba(0, 0, 0, 0) -42.59%, #AA14F0 -42.58%, rgba(170, 20, 240, .18) 4.35%, rgba(151, 60, 68, .055) 99.99%, rgba(185, 54, 245, 0) 100%);
        border-radius: 7px;
    }

    .footer__content {
        max-width: 356px;
        justify-content: flex-start;
        background: none;
        align-items: center;
    }

    .footer__item {
        padding-left: 14px;
        max-width: 181px;
    }

    .footer__img {
        position: absolute;
        margin-right: 16px;
        z-index: -1;
    }

    .footer__img img {
        min-height: 122px;
        min-width: 240px;
    }

    .header__ellipse {
        min-width: 500px;
        top: 0;
        left: -130px;
    }

    .hero__ellipse-right,
    .clients__ellipse {
        display: none;
    }

    .overlay {
        display: none;
    }


    /* Sign In Page */
    .close__page {
        position: absolute;
        display: flex;
        right: 16px;
        top: 5px;
        color: #fff;
        font-size: 28px;
        font-weight: bold;
        cursor: pointer;
    }

    .sign-in__page {
        padding: 16px 16px 76px 16px;
        justify-content: center;
        max-height: 390px;
        max-width: 390px;
        width: 100%;
        top: 10px;
        right: 50%;
        transform: translate(50%, 10px);
    }

    .sign-in__form {
        margin-top: 20px;
    }


    .form-btn {
        padding: 11px 86px;
        font-size: 14px;
        line-height: 13px;
    }

    .form-email,
    .form-password {
        padding: 18px 0 18px 16px;
        min-width: 358px;
        font-size: 18px;
        line-height: 23px;

    }


    /* Adding card */

    .adding-card {
        padding: 30px 16px 18px 16px;
        max-height: 390px;
        max-width: 390px;
        width: 100%;
        height: 100%;
        justify-content: flex-start;
        top: 10%;
        right: 50%;
        transform: translate(50%, -10%);
    }

    .adding-card__title {
        margin-bottom: 5px;
        display: none;
    }

    .adding-card__form-input {
        padding: 18px 0 18px 16px;
    }

    .adding-card__form-btn {
        padding: 11px 93px;
        font-size: 14px;
    }


    .adding-card__ellipse-left {
        display: flex;
    }

    .adding-card__ellipse-button {
        display: none;
    }


    /* Preview Photo */

    .preview-photo {
        padding: 45px 16px 32px 16px;
        justify-content: flex-start;
        max-width: 390px;
        width: 100%;
        max-height: 570px;
        height: 100%;
        top: 10%;
        right: 50%;
        transform: translate(50%, -10%);
    }

    .preview-photo__img {
        max-width: 354px;
        width: 100%;
        max-height: 479px;
        height: 100%;
    }

    .preview-photo__title {
        margin-bottom: 16px;
        text-align: center;
        font-size: 23px;
        line-height: 29px;
    }

    .preview-photo__description {
        text-align: center;
        font-size: 14px;
        line-height: 17px;
    }

}