<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Orbitron:wght@600;700;800;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../../assets/styles/reset.css" />
  <link rel="stylesheet" href="../../components/Dialogs/dialogs.css" />
  <title>AddNewCard</title>
</head>

<body>
  <div class="adding-card">
    <h2 class="adding-card__title">Realities cards</h2>
    <form class="adding-card__form">
      <h2 class="adding-card__form-name">Add new card</h2>
      <input class="adding-card__form-input" placeholder="Card name" type="text" />
      <input class="adding-card__form-input" placeholder="Card description" type="text" />
      <input class="adding-card__form-input" placeholder="Card image name" type="text" />
      <button class="adding-card__form-btn">Add</button>
    </form>
    <img class="adding-card__ellipse" src="../../assets/icons/Dialogs/ellipse-left-botton.svg"
      alt="ellipse left botton">
  </div>
</body>

</html>