<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Orbitron:wght@600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../assets/styles/reset.css" />
    <link rel="stylesheet" href="../../components/Dialogs/dialogs.css" />
    <title>ItemPage</title>
  </head>
  <body>
    <div class="item-page">
      <button class="item-page__btn">Sing in</button>
      <div class="item-page__content">
        <img class="item-page__content-photo" src="../../assets/images/List/photo.png" alt="photo" />
        <div class="item-page__description"> 
          <h3 class="description-title">Metaverse</h3>
          <p class="description-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo
            earum qui omnis dolorum vitae facilis nisi quibusdam voluptate optio
            iusto dolorem, reprehenderit id, quisquam eveniet suscipit
            exercitationem. Pariatur, sunt quos?
          </p>
        </div>
      </div>
      <img class="item-page__ellipse-top"src="../../assets/icons/Dialogs/ellipse-top.svg" alt="llipse top">
      <img class="item-page__ellipse-left"src="../../assets/icons/Dialogs/ellipse-left.svg" alt="llipse left">
      <img class="item-page__ellipse-right"src="../../assets/icons/Dialogs/ellipse-right.svg" alt="llipse right">
    </div>
  </body>
</html>
